@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


@keyframes rotate {
   0% { 
    transform: rotate(0deg);
   }

    50% { 
    transform: rotate(-800deg);
   }

    100% { 
    transform: rotate(0deg);
   }
}

@keyframes background-move { 
  0% {
     background-position: center -2%; 
    }

  50% {
     background-position: center 100%; 
    }
  100% { 
    background-position: center -2%; 
}
}

@keyframes background-move-revers { 
  0% {
     background-position: center -4%; 
    }
    
    
  50% {
     background-position: center -100%; 
    }
  100% { 
    background-position: center -4%; 
}
}


body{
    background-color: #282828;
}


header{
    overflow: clip;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(180, 82, 7);
    width: 100%;
    perspective: 800px;
}
header::after{
    position: absolute;
    right: 10px;
    top: -5px;
    content: '';
    width: 350px;
    height: 350px;
    background: #000 url(../img/1.webp) -62px -95px / 500px  no-repeat;
    border-radius: 50%;
    animation-name: rotate;
    animation-delay: 2s;
    animation-duration: 18s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}




header::before{
    content: '';
    display: inline-block;
    position: absolute;
    left: 60%;
    bottom:-100%;
    width: 170px;
    height: 500px;
    background: url(../img/movi.svg) center / contain repeat;
    transform-origin: left;
    transform: rotate(-43deg);
    animation-name: background-move;
    animation-delay: 2.1s;
    animation-duration: 17.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.wrapper{
    overflow: clip;
    min-height: 100%;
    position: relative;
}

.page{
    width: 100%;
    margin: 0 auto;
}


.head-title{
    font-family: "Poppins" ,sans-serif;
    font-size: 70px;
    font-weight: 700;
    padding:70px 100px 70px 150px; 
    border-radius: 0 60% 60% 0;
    background-color: #000;
    color: rgb(198, 81, 81);
    text-shadow: 0 0 8px rgb(244, 0, 0);
    position: relative;
    display: inline-block;
    z-index: 2;
}

.head-title::after{
    content:'';
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: -50%;
    width: 175px;
    height: 500px;
    background:  url(../img/movi.svg) center / contain;
    transform: rotate(38deg);
    z-index: -1;
     animation-name: background-move-revers;
    animation-delay: 2s;
    animation-duration: 17.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.transition-container{
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px 15px;
    perspective-origin: bottom;
    perspective: 800px;
    transform-style: preserve-3d;
    font-family: "Poppins", sans-serif;
    background-color: #1a3d3d;
    border-radius: 15px;
    box-shadow: 0px 0 30px rgba(6, 185, 212, 0.797);
}

.container-title{
    max-width: 500px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 700;
    background-color: #0000009f;
    padding: 20px;
    margin-bottom: 60px;
    border-radius: 15px;
}


.button-link {
    vertical-align: top;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: white;
  padding: 20px 35px;
  width: 200px;
  background-color: brown;
  border-radius: 20px;
  letter-spacing: 2px;
  transition: width 0.5s ease 0.2s,
              background-color 0.5s ease,
              text-shadow 0.4s ease 0.13s,
              box-shadow 0.2s ease;

  box-shadow: 0 7px 7px black;
  display: inline-block;
  backface-visibility: hidden;
  margin: 0 30px 30px;
}

.button-link:hover {
  width: 300px;
  background-color: rgb(36, 36, 101);
  text-shadow: 0 0 10px white;
  box-shadow: -2px 10px 10px black;
}

.button-link:active {
  transform: scale(0.9);
  outline:2px solid white;
  background-color: rgba(36, 36, 101, 0.521);
}

.block-info:target{
    opacity: 1;
    visibility: visible;
    display: block;
}

.block-info{
    max-width: 600px;
    font-size: 20px;
    line-height: normal;
    margin: 0 30px;
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    padding: 10px;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition:
             opacity 0.5s ease, 
             visibility 0.5s ease;
}

.block-info p:not(:last-child){
    margin-bottom: 15px;
}


/* ===== car ==== */
.car-container{
    max-width: 3500px;
    margin: 50px auto;
    height: 400px;
    padding: 15px;
    background: rgb(47, 159, 125);
    border-radius: 20px;
    box-shadow: -5px 2px 15px rgba(0, 0, 0, 0.438);
    position: relative;
}

 @keyframes car-move {
  0% {
    left: -630px;
  }
  100% {
    left: 3500px;
  }
}

@keyframes car-flip {
  0% {
    transform: scaleX(1);
  }
  49.99% {
    transform: scaleX(1); 
  }
  50% {
    transform: scaleX(-1); 
  }
  100% {
    transform: scaleX(-1); 
  }
}

.car-car-car-car{
    width: 580px;
    position: relative;
    display: inline-block;
    border: 1px solid #000;
   left: 0;
   bottom: 0;
   animation-name: car-move, car-flip;
   animation-duration: 5s, 10s;
   animation-timing-function: linear, linear;
   animation-iteration-count: infinite, infinite;
   animation-direction:alternate, normal;
}

.car{
    width: 250px;
    height: 200px;
    background-color: rgb(30, 28, 81);
    border-radius: 100% 0 0 20%;
    display: inline-block;
    position: relative;
    left: 0;
    z-index: 1;
    border: 3px solid #000000ab;
}

.bumper{
    border: 3px solid #0a0a0a;
    width: 180px;
    height: 200px;
    background-color: rgb(30, 28, 81);
    border-radius: 0 60% 40% 0;
    margin-left: -10px;
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

.carcas::before{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: -5px;
    width: 60px;
    height: 30px;
    background-color: #000;
    z-index: 2;
    border-radius: 30%;
}
.carcas::after{
    content: '';
    width: 30px;
    height: 30px;
    background: #720505;
    position: absolute;
    left: 15px;
    bottom: 50px;
    border-radius: 50% 0% 0% 50%;
    border: 3px solid #000;  
}

.dor-box{
    width: 100px;
    height: 140px;
    position: absolute;
}

.dor{
    width: 100%;
    height:100%;
    border: 3px solid #171616;
    background-color: #3c1baa;
}

.left-box-dor{
    right: 5%;
    top: 10%;
    
}
.left-dor{
    border-radius: 50% 0 0 0;
}

.glass{
    width: 70px;
    height: 50px;
    margin: 15px 2px 0 20px;
    background-color: rgb(176, 176, 255);
    border-radius: inherit;
    border: 2px solid #000;
}

.wheel{
    position:absolute;
    width: 110px;
    height: 60px;
    background: black;
    z-index: 3;
    border-radius: 100% 100% 40% 40%;
}

.wheel::before{
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #252424;
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 5%;
    border: 5px dashed #c0bbbb;
}

.wheel::after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #000;
    z-index: 4;
    top: 56%;
    left: 25%;
    border-radius: 50%;
}

.left{
    right: 68px;
    bottom: -7px;
}

@keyframes wheel {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.wheel::before{
    animation-name: wheel;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}




.bumper-top{
    position: absolute;
    z-index: 2;
    width: 190px;
    height: 100px;
    background:inherit;
    border:inherit;
    bottom: -5px;
    left: 45%;
    border-radius: 65% 20% 10% 10%;
    
}

.bumper-top::after{
    content: '';
    width: 50px;
    height: 20px;
    position: absolute;
    right: -70px;
    bottom: 10%;
    background-color: #000;
    transform: skew(-5deg, -20deg);
    border-radius: 20%;
}

.right{
    bottom: -10px;
    left: 75%;
}

.right-box-dor{
    border-radius: 0 0 0 0;
    top: 10%;
    left: 10px;
}

.right-dor{
    border-radius: 0 50% 0 0;
}
.glass-rigt{
    width: 70px;
    height: 50px;
    margin: 15px 10px 0 7px;
    background-color: rgb(176, 176, 255);
    border-radius: inherit;
    border: 2px solid #000;
    border-radius: 0 50% 0 0;
}

.windshield{
    display: inline-block;
    border: 2px solid #583308;
    width: 50px;
    height: 100px;
    position: absolute;
    background: #78a0b7;
    border-radius: 20% 50% 0 0;
    left: 115px;
    top: 10px;
    transform: skew(30deg, 10deg) rotate(-15deg);
}
.windshield-end{
    display: inline-block;
    width: 50px;
    height: 70px;
    position: absolute;
    background: #78a0b7;
    border-radius: 100% 10% 10% 10%;
    left: 50px;
    top: 20px;
    transform: skew(-35deg, 2deg);
}

.hood{
    width: 160px;
    height: 105px;
    border-radius: 20% 20% 30% 50%;
    border: 3px solid #000;
    background-color:  rgb(30, 28, 81);
    position: absolute;
    left: 95%;
    bottom: 0;
}

.hood::after{
    content: '';
    width: 30px;
    height: 30px;
    background: #b3a505;
    position: absolute;
    right: 0px;
    top: 10px;
    border-radius: 50% 0 0 50%;
    border: 3px solid #000;
}