@import url(reset.css);
@import url(fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.wrapper{
    min-height: 100%;
    overflow: clip;
}


header{
    font-family: "Poppins", sans-serif;
    background-color: rgb(64, 91, 104);
}

.header__title{
    padding: 25px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ===== section 1 ===== */

.ecobazar__container{
    margin: 0 auto;
    padding: 100px 20px; 
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.card-ecobazar{
    display: inline-block;
    border: 1px solid #E6E6E6 ;
    border-radius: 8px;
    max-width: 312px;
    text-align: center;
    position: relative;
    cursor: pointer;
    vertical-align: top;

}


.card-ecobazar:hover{
    border: 1px solid #2C742F;
    box-shadow: 0 0 10px #2C742F;
}

.card-ecobazar__link{
    position: absolute;
    border: 1px solid #E6E6E6;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(247, 244, 244) url(../img/svg/heart.svg) center  / 20px no-repeat;
    opacity: 0;
    visibility: hidden;
}

.card-ecobazar:hover .card-ecobazar__link{
    opacity: 1;
    visibility: visible;
}

.card-ecobazar__link:hover{
    background: rgb(228, 226, 226) url(../img/svg/heart.svg) center  / 20px no-repeat;
}

.card-ecobazar__link--eye{
    position: absolute;
    border: 1px solid #E6E6E6;
    right: 20px;
    top: 65px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(247, 244, 244) url(../img/svg/eye.svg) center  / 20px no-repeat;
}

.card-ecobazar__link--eye:hover{
    background:  rgb(228, 226, 226)url(../img/svg/eye.svg) center  / 20px no-repeat;
}


.card-ecobazar__image-box{
    display: inline-block;
    max-width: 302px;
    max-height: 302px;
    margin: 5px;
}

.contant-card{
    padding: 15px;
    text-align-last: left;
    line-height: normal;
    position: relative;
}


.contant-card__name{
    color: #4D4D4D;
    text-align: left;
    max-width: 85%;
}

.card-ecobazar:hover .contant-card__name{
    color: #2C742F;
}

.contant-card__price{
    font-weight: 500;
}

.contant-card__link{
    position: absolute;
    right: 20px;
    bottom:27px;
    width: 40px;
    height: 40px;
    background: url(../img/svg/busket.svg) center / 40px no-repeat;
    border-radius: 50%;
}

.contant-card__link:hover{
    background: url(../img/svg/basket2.svg) center / 40px no-repeat;
}
/* ============= */

/* ===== section 2===== */

.business{
    background: #5A54F2;
    position: relative;
    color: white;
    z-index: 1;
}

.business::before,
.business::after{
    content: '';
    position: absolute;
    width: 110%;
    height: 55px;
    left: -5%;
}

.business::before{
    top: 0;
    border-radius: 0 0 50% 50% / 0 0 100% 100%; 
    background: #fff;
}

.business::after{
    bottom:0;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background-color: #231F8B;
}




.business__container{
    margin: 0 auto;
    padding-inline: 15px;
    max-width: 1300px;
    position: relative;
    z-index: 2;
}


.business__container::before{
    content: '';
    width: 214px;
    height: 472px;
    background: url(../img/svg/doshed-grup.svg) center / 214px 472px no-repeat ;
    position: absolute;
    top: 37%;
    left: -7%;
}

.business__container::after{
    content: '';
    width:  472px;
    height: 214px;
    background: url(../img/svg/group-doshed.svg) center / 472px 214px  no-repeat ;
    position: absolute;
    right: -9%;
    bottom: 14%;
}

.business__industry{
    position: relative;
    z-index: 1;
}


.info-block__image img{
    border-radius: 20px;
    box-shadow: -25px 20px 44px rgba(12, 12, 12, 0.329);
    max-width: 430px;
    max-height: 548px;
    position: relative;
    z-index: 9;
}

.info-block__image--left::before{
    position: absolute;
    content: '';
    width: 401px;
    height: 401px;
    background:url(../img/svg/big-ellipse.svg) center / 401px no-repeat;
    top: 210px;
    left: -108px;
    z-index: -1;
}

.info-block__image--left::after{
    position: absolute;
    content: '';
    width: 65px;
    height:65px;
    background:url(../img/svg/ellipse.svg) center / 65px no-repeat;
    top: 160px;
    left: -100px;
    z-index: -1;
}

.info-block__image--right::after{
    position: absolute;
    content: '';
    width: 262px;
    height: 262px;
    background:url(../img/svg/big-ellipse.svg) center / 262px no-repeat;
    top: -26px;
    right:-68px;
    z-index: -1;
}

.info-block__image--right::before{
    position: absolute;
    content: '';
    width: 65px;
    height:65px;
    background:url(../img/svg/ellipse.svg) center / 65px no-repeat;
    top: -45px;
    right: 334px;
    z-index: -1;
}


.info-block > *{
    display: inline-block;
    vertical-align: top;
}



.info-block__contant{
    margin:138px 0 70px 52px;
}

.contant-block__title{
    font-family: "Circular Std", sans-serif;
    font-weight: 700;
    line-height: normal;
    font-size: 36px;
    margin-bottom: 13px;
}

.contant-block__text{
    font-family: "Roboto",sans-serif;
    line-height: 30px;
    font-size: 18px;
    max-width: 480px;
    margin-bottom: 39px;
}

.contant-block__button{
    font-family: "Roboto",sans-serif;
    line-height: normal;
    font-size: 18px;
    padding: 22px 26px;
    background-color: #F35B09;
    border-radius: 60px;
}

.contant-block__button:hover{
    outline: 1px solid #fdfdfd;
    background-color: #5b2a0d7a;
    box-shadow: 0 0 12px #0f0d5b;
}


.info-block__contant--margin{
    margin: 30px 43px 160px 250px;
}




/* ===== foooter ==== */

.footer{
    background: #231F8B;
    font-family: "Roboto", sans-serif;
    min-height: 300px;
    text-align: center;
    color: wheat;
    font-size: 40px;
    font-weight: 700;
    padding: 100px;
}

.footer__container > *:not(:last-child){
    margin-bottom: 40px;
}

.footer__link{
    padding: 20px;
    background-color: #F35B09;
    box-shadow: 0 0 10px #5A54F2;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 30px;
}

.footer__link:hover{
    background-color: #f35b091b;
    outline: 1px solid #fff;
}
