/* @import url(reset.css); */
@import url(fonts.css);
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,regular,700&display=swap");

body{
    font-family:"AA Akashi", Arial, Helvetica, sans-serif;
    font-size: 17px;
	color: #2c2c2c;
    line-height: 1.33;
}
.toptitle{
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 2px 2px 4px red;
}
.titleimg{
    text-align: center;
}
.top{
    font-style: italic;
    font-size: 19px;
}
.top mark{
    color: rgb(10, 46, 146);
    font-style: normal;
    font-size: 20px;
    text-shadow: 2px 3px 4px rgba(220, 20, 60, 0.58);
}
.menu{
    color: brown;
}
.menu>ul>li>a{
    color: rgb(225, 88, 3);
}
.menu ul li  ul li a{
    color: rgb(15, 195, 201);
}
#item1,
#item2,
#item3,
#item7,
#item11{
    color: rgb(161, 8, 8);
    font-family:"Ubuntu" sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    text-shadow: 3px 2px 5px rgba(33, 5, 133, 0.667);
}

.s1_block1 {
    color: rgb(12, 70, 86);
}

.s1_block2 p {
 color: coral;
}
.s1_block2 p+p{
    color: black;
    text-transform: capitalize;
    word-spacing: 20px;
    text-align: right;
}
.s1_block2 a.link{
    color: rgb(0, 139, 25);
    text-decoration: overline;
}
.batlesystem a{
    color: brown;
    font-weight: 600;
    text-decoration: overline dashed rgb(8, 83, 25);
}
.batlesystem p{
    white-space: nowrap;
}

.s2_block4 p{
    color: rgb(228, 10, 228);
}
.s2_block4 ul{
    color: rgb(7, 120, 7);
    text-shadow: 2px 2px 4px #2c2c2c;
}
.s2_block6 h4{
    color: rgb(50, 156, 205);
text-decoration: underline wavy red;

}

.lore{
    text-align: center;
    
}

section>div{
    text-align: left;
}

[title*="посилання"] {
    color: rgb(6, 220, 156);
}

.list4_personages a{
    color: rgb(227, 74, 3);
    text-transform: uppercase;
    text-shadow: 3px 2px 2px cadetblue;
    font-weight: 700;
    letter-spacing: 5px;
    text-decoration:underline dotted 7px cyan;
}

.list4_personages ul li{
    color: blue;
}
.list4_personages ul li ul li{
    text-shadow:1px 2px 3px #2c2c2c;
    color: red;
    line-height: 1.5;
    word-spacing: 20px;
}

.dopinfo ul li{
    color: rgb(61, 5, 120);
}
.dopinfo ul li ul li{
    color: black;
}


footer h2, ol a{
    color: crimson;
}

footer ol~p{
    color: darkgreen;
    text-align: center;
    text-transform: capitalize;
}

.ecobazar{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #808080;
}
.ecobazar h2{
    color: #1A1A1A;
    font-size: 20px;
    font-weight: 500;
}
